$breakpoints: (
  xs: 0px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
);

@mixin query($size, $minmax: min) {
  @media screen and (#{$minmax}-width: map-get($breakpoints, $size)) {
    @content;
  }
}
